<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LetsMeet: login</title>
        <link rel="stylesheet" href="../static/styles/LetsMeetStylesheet.css">
    </head>
    <body>
        <header>
            <h1>LetsMeet</h1>
            <!-- top menu navigation section -->
            <nav id="topNav">
                <ul>
                    <li id="currPage"><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            </nav>
        </header>

        <h2>Welcome to the LetsMeet Site!</h2>

        <h3>Login</h3>

        <form action="/login" method="POST">
            <span id="theLabel">
                {{ form.username.label }}
            </span>
            <span id="inputForm">
                {{ form.username }}
            </span>
            <br>
            {% if form.username.errors %}
                <span id="errors">
                    {% for error in form.username.errors %}
                        {{ error }}
                        <br>
                    {% endfor %}
                </span>
            {% endif %}

            <br>

            <span id="theLabel">
                {{ form.password.label }}
            </span>
            <span id="inputForm">
                {{ form.password }}
            </span>
            <br>
            {% if form.username.errors %}
                <span id="errors">
                    {% for error in form.username.errors %}
                        {{ error }}
                        <br>
                    {% endfor %}
                </span>
            {% endif %}

            <br>

            <!-- <div class="form-field">{{ form.username.label }} {{ form.username }}
                {% if form.username.errors %}
                <ul class="errors">
                    {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div> -->

            <!-- <div class="form-field">{{ form.password.label }} {{ form.password }}
                {% if form.password.errors %}
                <ul class="errors">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div> -->

            {{ form.submit }}
        </form>

    </body>
    <footer>
        <p>
            Group 3: Algos Anonymous project
        </p>
    </footer>
</html>