{% extends "base.html" %}
    {% block content %}
    <body>
        <header>
            <h1>LetsMeet</h1>
            <!-- top menu navigation section -->
            <nav id="topNav">
                <ul>
                    <li id="currPage"><a href="{{ url_for('login') }}">Login</a></li>
                </ul>
            </nav>
        </header>
    <body>
        <h2>Welcome {{user}} to the LetsMeet Site!</h2>
        <form method="POST" action="/register">
            <span id="theLabel">{{ form.username.label }}</span>
            <span id="inputForm">{{ form.username }}</span>
            <br>
            {% if form.username.errors %}
            <span id="errors">
                {% for error in form.username.errors %}
                {{ error }}
                <br>
                {% endfor %}
            </span>
            {% endif %}
            
            <br>
            
            <span id="theLabel">{{ form.email.label }}</span>
            <span id="inputForm">{{ form.email }}</span>
            <br>
            {% if form.email.errors %}
            <span id="errors">
                {% for error in form.email.errors %}
                {{ error }}
                <br>
                {% endfor %}
            </span>
            {% endif %}
            <br>
            <span id="theLabel">{{ form.password.label }}</span>
            <span id="inputForm">{{ form.password }}</span>
            
            <br>

            {% if form.password.errors %}
            <span id="errors">
                {% for error in form.password.errors %}
                {{ error }}
                <br>
                {% endfor %}
            </span>
            {% endif %}
            
            <br>

            <span id="theLabel">{{ form.confirmPassword.label }}</span>
            <span id="inputForm">{{ form.confirmPassword }}</span>
            <br>
            {% if form.confirmPassword.errors %}
            <span id="errors">
                {% for error in form.confirmPassword.errors %}
                {{ error }}
                <br>
                {% endfor %}
            </span>
            {% endif %}
            <br>
            <br>
            {{ form.submit }}
        </form>

    </body>
    <footer>
        <p>
            Group 3: Algos Anonymous project
        </p>
    </footer>
    {% endblock %}