<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LetsMeet</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/LetsMeetStylesheet.css') }}">
    </head>
    <body>
        <header>
            <h1>LetsMeet</h1>
            <!-- top menu navigation section -->
            <nav id="topNav">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('get_events') }}"> My Events</a></li>
                    <li><a href="{{ url_for('new_event') }}">Add Event</a></li>
                    <li id="currPage"><a href="{{ url_for('friendspage') }}">Friends</a></li>
                    <li><a href="{{ url_for('userRatings') }}">Ratings</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </header>

        <h3>Welcome {{user}} to the LetsMeet Site!</h3>
        <div class="friends">
            <h3>Friends</h3>

            {% if friends %} 
            <table>
            <tr>
                <th>List of friends</th>
                <th></th>
            </tr>
            {% for friend in friends %}
            <tr>
                <td><a href="{{ url_for('friend_details', friend_id=friend.id) }}" style="display:inline-block;">{{friend.friendUsername}} </a></td>
                <td><a href="{{ url_for('new_rating', friend_id=friend.id) }}">Add a rating</a></td>
            </tr>
            {% endfor %}
            </table>
            {% else %}
            <p>You do not have friends yet. Browse and add friends</p>
            {% endif %}

            <a id="addUserButton" href="{{ url_for('add_friend') }}">Add friends!</a>
        </div>
    </body>
    <footer>
        <p>
            Group 3: Algos Anonymous project
        </p>
    </footer>
</html>
