{% extends "base.html" %}
    {% block content %}
    <body>
        <nav>
            <a href="{{ url_for('index') }}"> Home</a> ||
            <a href="{{ url_for('get_events') }}"> My Events</a> ||
            <a href="{{ url_for('new_event') }}">Add Event</a> ||
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>

        <h1>Welcome {{user}} to the LetsMeet App!</h1>

        <h1>Event detials</h1>

        <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.text }}</td>
                <td>{{ event.date }}</td>
            </tr>
        </table>
        {% if event.user_id == user_id %}
            <a href="{{ url_for('remove_event', event_id=event.id) }}">Remove Event</a> ||
            <a href="{{ url_for('edit_event', event_id=event.id) }}">Edit</a>
        {% else %}
            <a href="{{ url_for('RSVP_event', event_id=event.id) }}">RSVP for this Event</a>
        {% endif %}

    </body>
    {% endblock %}