<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="LetsMeet">
        <title>LetsMeet</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/LetsMeetStylesheet.css') }}">
    </head>
    <body>
        <header>
            <h1>LetsMeet</h1>
            <!-- top menu navigation section -->
            <nav id="topNav">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li id="currPage"><a href="{{ url_for('get_events') }}"> My Events</a></li>
                    <li><a href="{{ url_for('new_event') }}">Add Event</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </header>

        <h2>Welcome {{user}} to the LetsMeet App!</h2>

        <h3>Event details</h3>

        <table>
            <tr>
                <th>Title</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.text }}</td>
                <td>{{ event.date }}</td>
            </tr>
        </table>
        {% if event.user_id == user_id %}
            <a href="{{ url_for('remove_event', event_id=event.id) }}">Remove Event</a> ||
            <a href="{{ url_for('edit_event', event_id=event.id) }}">Edit</a>
        {% else %}
            <a href="{{ url_for('RSVP_event', event_id=event.id) }}">RSVP for this Event</a>
        {% endif %}

    </body>
    <footer>
        <p>
            Group 3: Algos Anonymous project
        </p>
    </footer>
    </html>