{% extends "base.html" %}
    {% block content %}
    <body>
        <header>
            <h1>LetsMeet</h1>
            <!-- top menu navigation section -->
            <nav id="topNav">
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li id="currPage"><a href="{{ url_for('get_events') }}"> My Events</a></li>
                    <li><a href="{{ url_for('new_event') }}">Add Event</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
        </header>

        <h2>Welcome {{user}} to the LetsMeet Site!</h2>

        <h3>Listing events</h3>

        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
            {% for event in events %}
            <tr>
                <td><a href="{{ url_for('get_event', event_id=event.id) }}">{{ event.title }}</a></td>
                <td>{{ event.date }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
    <footer>
        <p>
            Group 3: Algos Anonymous project
        </p>
    </footer>
    {% endblock %}