<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="LetsMeet">
        <title>LetsMeet</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/LetsMeetStylesheet.css') }}">
    </head>
    <body>
        <header>
            <h1>LetsMeet</h1>
            <nav id="topNav">
                <ul>
                    <li id="currPage"><a href="{{ url_for('index') }}"> Home</a></li>
                    <li><a href="{{ url_for('get_events') }}"> My Events</a></li>
                    <li><a href="{{ url_for('new_event') }}">Add Event</a></li>
                    <li><a href="{{ url_for('friendspage') }}">Friends</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <!-- <li><a href="{{ url_for('calendarpage') }}">Calendar</a></li> -->
                </ul>
            </nav>
        </header>

        <h2>Welcome {{user}} to the LetsMeet Site!</h2>

        <form action="index" method="POST">
            <select name="calendar_month">
                <option selected>Choose Month</option>
                <option value=1>Jan</option>
                <option value=2>Feb</option>
                <option value=3>Mar</option>
                <option value=4>Apr</option>
                <option value=5>May</option>
                <option value=6>Jun</option>
                <option value=7>Jul</option>
                <option value=8>Aug</option>
                <option value=9>Sep</option>
                <option value=10>Oct</option>
                <option value=11>Nov</option>
                <option value=12>Dec</option>
            </select>
            <input id="submitButton" type="submit" value="Submit">
        </form>

        <table>
            <caption>{{ calendar.month_name[month] }}</caption>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            <!-- i+(t*7)+1 is the equation to find the physical calendar (td) number
            Example: the top right most square has i=0 and t=0 thus 0+(0*7)+1=1 
            and the block next to it has i=1 and t=0 thus 1+(0*7)+1=2 -->
            {% for t in range(math.ceil((sum(calendar.monthrange(today.year, month))-1)/7)) %}
            <tr>
                {% for i in range(7) %}
                    {% if i+(t*7)+1 <= sum(calendar.monthrange(today.year, month)) %}
                        <td>                            
                            {% if i+(t*7)+1 > calendar.monthrange(today.year, month)[0] %}
                                {{ i+(t*7)+1-calendar.monthrange(today.year, month)[0] }}
                                <ul>
                                    {% for index, event in enumerate(eventDates, start=0) %}
                                        {% if date(today.year, month, i+(t*7)+1-calendar.monthrange(today.year, month)[0]) == date.fromisoformat(event) %}
                                            <li>
                                                <a id="eventName" href="{{ url_for('get_event', event_id=events[index].id) }}">{{ events[index].title }}</a>
                                            </li>
                         <br>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% elif i+(t*7)+1 <= calendar.monthrange(today.year, month)[0] %}
                                {{ calendar.monthrange(today.year, month-1)[1]-(calendar.monthrange(today.year, month)[0]-(i+(t*7)+1)) }}
                                <ul>
                                    {% for index, event in enumerate(eventDates, start=0) %}
                                        {% if date(today.year, month-1, calendar.monthrange(today.year, month-1)[1]-(calendar.monthrange(today.year, month)[0]-(i+(t*7)+1))) == date.fromisoformat(event) %}
                                            <li>
                                                <a href="{{ url_for('get_event', event_id=events[index].id) }}">{{ events[index].title }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    {% elif i+(t*7)+1 > sum(calendar.monthrange(today.year,  month)) and i+(t*7)+1-sum(calendar.monthrange(today.year, month)) <= (t+1)*7 %}
                         <td id="next">
                            {{ (i+(t*7)+1-calendar.monthrange(today.year, month)[0]) - calendar.monthrange(today.year, month)[1] }}
                            <ul>
                                {% for index, event in enumerate(eventDates, start=0) %}
                                    {% if date(today.year, month+1, (i+(t*7)+1-calendar.monthrange(today.year, month)[0]) - calendar.monthrange(today.year, month)[1]) == date.fromisoformat(event) %}
                                        <li>
                                            <a href="{{ url_for('get_event', event_id=events[index].id) }}">{{ events[index].title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <br><br><br>

    </body>
    <footer>
        <p>
            Group 3: Algos Anonymous project
        </p>
    </footer>
    </html>
