{% extends "base.html" %}
    {% block content %}
    <body>
        <header>
            <h1>LetsMeet</h1>
            <nav id="topNav">
                <ul>
                    <li id="currPage"><a href="{{ url_for('index') }}"> Home</a></li>
                    <li><a href="{{ url_for('get_events') }}"> My Events</a></li>
                    <li><a href="{{ url_for('new_event') }}">Add Event</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <!-- <li><a href="{{ url_for('calendarpage') }}">Calendar</a></li> -->
                </ul>
            </nav>
        </header>

        <h2>Welcome {{user}} to the LetsMeet Site!</h2>

        <table>
            <caption>Calendar</caption>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            {% for t in range(math.ceil(sum(calendar.monthrange(today.year, today.month))-1/7)) %}
            <tr>
                {% for i in range(7) %}
                    {% if i+(t*7)+1 <= sum(calendar.monthrange(today.year, today.month)) %}
                        <td>
                            {% if i+(t*7)+1 > calendar.monthrange(today.year, today.month)[0] %}
                                {{ i+(t*7)+1-calendar.monthrange(today.year, today.month)[0] }}
                                <ul>

                                        {% for index, event in enumerate(eventDates, start=0) %}
                                        {% if date(today.year, today.month, i+(t*7)+1-calendar.monthrange(today.year, today.month)[0]) == date.fromisoformat(event) %}
                                        
                                                <li>
                                                    <a href="{{ url_for('get_event', event_id=events[index].id) }}">{{ events[index].title }}</a>
                                                </li>                                                                                      
                                        {% endif %}
                                        {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <br><br><br>

    </body>
    <footer>
        <p>
            Group 3: Algos Anonymous project
        </p>
    </footer>
    {% endblock %}